n8n/publications-mail-trigger.json
{
  "name": "ATLAS - Publications Mail-Trigger",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "options": {}
      },
      "id": "imap-trigger",
      "name": "IMAP - Neue Mail",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_YOUR_IMAP_CREDENTIAL_ID",
          "name": "Ralf Hauptmail (IMAP)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-sender",
              "leftValue": "={{ $json.from }}",
              "rightValue": "no-reply@e.boersenmedien.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-subject",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Neuer Inhalt - ",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-boersenmedien",
      "name": "Filter: Börsenmedien Neuer Inhalt",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.178.116:8000/api/ingestion/publications/notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"subject\": $json.subject } }}",
        "options": {}
      },
      "id": "http-notify-atlas",
      "name": "ATLAS Webhook benachrichtigen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HEADER_AUTH_CREDENTIAL_ID",
          "name": "ATLAS Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-sender-musterdepot",
              "leftValue": "={{ $json.from }}",
              "rightValue": "noreply@boersenmedien.de",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-subject-musterdepot",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Neue Transaktion",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-musterdepot",
      "name": "Filter: Musterdepot Neue Transaktion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.178.116:8000/api/ingestion/publications/musterdepot-notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"subject\": $json.subject, \"message_id\": $json.metadata['message-id'], \"body_text\": $json.textHtml || $json.textPlain } }}",
        "options": {}
      },
      "id": "http-notify-musterdepot",
      "name": "ATLAS Webhook benachrichtigen (Musterdepot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HEADER_AUTH_CREDENTIAL_ID",
          "name": "ATLAS Webhook Secret"
        }
      }
    }
  ],
  "connections": {
    "IMAP - Neue Mail": {
      "main": [
        [
          {
            "node": "Filter: Börsenmedien Neuer Inhalt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter: Musterdepot Neue Transaktion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Börsenmedien Neuer Inhalt": {
      "main": [
        [
          {
            "node": "ATLAS Webhook benachrichtigen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Musterdepot Neue Transaktion": {
      "main": [
        [
          {
            "node": "ATLAS Webhook benachrichtigen (Musterdepot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
